.activtyAddManyBox{
    width: 100%;
    display: block;
}
.activtyAddManyItem{
    width: 100%;
    height: 100px;
    background: #ffffff;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom:1px solid #EEEEEE;
    display: flex;
}
.activtyAddManyItem .h5{
   flex: 2;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
}
.activtyAddManyItemIndex{
   flex: 12;
    height: 100%;
    line-height: 100px;
}

.activtyAddManyItemIndex1{
    flex: 9;
    height: 100%;
    padding-right: 20px;
    overflow: hidden;
}
.activtyAddManyItemIndex1 button{
    float: right;
   margin:0  5px;
    margin-top:25px ;
}
.activtyAddManyItem1{
    width: 100%;
    height: 250px;
    background: #ffffff;
    padding-top: 10px;
    display: flex;
}
.activtyAddManyItem1Left{
    flex: 2;

}
.activtyAddManyItem1Left_top{
    width: 100%;
    padding-left: 20px;
}
.activtyAddManyItem1Left_top .el-input{
    width: 280px;
}
.activtyAddManyItem1Left_bot{
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
}
.activtyAddManyItem1Left_bot span{
    display: inline-block;
    transform: translateY(-150px);
}
.activtyAddManyItem1Left_bot .el-textarea{
    width: 280px;
}
.activtyAddManyItem1Right{
    flex: 3;
    display: block;
}
.activtyAddManyItem1Right_top{
    width: 50px;
    display: inline-block;
    height: 100%;
    float: left;
}
.activtyAddManyItem1Right_cnt{
    display: inline-block;
    width: 230px;
    height: 230px;
    float: left;
}
.activtyAddManyItem1Right_bot{
    display: inline-block;
    margin-left: 10px;
    float: left;
}
.activtyAddManyItem1Right_cnt img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.activtyAddManyItem1Right_bot .file{
  display: inline-block;
    width: 120px;
    height: 30px;
    position: relative;
    text-align: center;
    line-height: 30px;
    border: 1px solid #41BDC7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #41BDC7;
   font-size:14px;
    background: rgb(236, 248, 249);
}
.activtyAddManyItem1Right_bot .file:hover{
    background: #41BDC7;
    color: #ffffff;
}
.activtyAddManyItem1Right_bot .file input{
    width: 120px;
    height: 30px;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter:alpha(opacity=0);
    position: absolute;
    left: 0;
    top:0;
}
.ctivtyAddManyItem1Right_botSize{
    width: 220px;
    font-size: 16px;
    color: #9B9B9B;
    margin-top: 15px;
}
.activtyAddManyItem2{
    width: 100%;
    background: #FFFFFF;
}
.activtyAddManyItem2index1{
    width: 100%;
    background: #e3e3e3;
    height: 100px;
    padding-left: 20px;
    box-sizing: border-box;
}
.activtyAddManyItem2index1 .h5{
    display: inline-block;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    float: left;
}
.activtyAddManyItem2index1_cnt{
    display: inline-block;
    float: left;
    line-height: 100px;
    margin-left: 20px;
}
.activtyAddManyItem2index1_cnt .div{
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    margin-left:20px;
}
.activtyAddManyItemSon {
    width: 100%;
    background: #fff;
}
.activtyAddManyItemSon1{
    width: 100px;;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 16px;
    font-weight: 900;
}
.activtyAddManyItem2index2{
    width: 100%;
    background: #e3e3e3;
    height: 100px;
    padding-left: 20px;
    box-sizing: border-box;
}
.activtyAddManyItem2index2 .activtyAddManyItem2index1_cnt{
    width: 100%;
    display: inline-block;
    float: left;
    line-height: 100px;
    margin-left: 20px;
}
.activtyAddManyItem2index1_cntRight{
    float: right;
    margin-right: 100px;
    margin-top:30px;
}