#homeBox{
  width: 100%;
  overflow-y:auto ;
  -ms-overflow-y: auto;
  background: #eeeeee;
  position: relative;
  box-sizing: border-box;
}
.homeBoxHeader{
  width: 100%;
  height: 5.74rem;
  background: url(../../../static/images/bg1.png) no-repeat center;
  background-size: 100% 100%;
  position: relative;
}
.boxCententHeader{
  width: 100%;
  padding: 0.25rem  0.31rem 0 0.31rem;
  box-sizing: border-box;
}
.boxCententHeader h5{
  height:0.15rem;
  font-size:0.15rem;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:0.15rem;
  text-align: center;
  position: relative;


}
.boxCententHeader h5 span:nth-child(1){
  display: inline-block;
  width: 0.2rem;
  height: 0.01rem;
  background:rgba(255,255,255,1);
  opacity:0.5;
  position: absolute;
  left: 3.5%;
  top:0.07rem;
}
.boxCententHeader h5 .span{
  display: inline-block;
  width: 0.2rem;
  height: 0.01rem;
  background:rgba(255,255,255,1);
  opacity:0.5;
  position: absolute;
  right: 3.5%;
  top:0.07rem;
}
.boxCententHeader p{
  margin-top: 0.15rem;
  font-size:0.12rem;
  font-family:PingFangSC-Light;
  font-weight:300;
  color:rgba(255,255,255,1);
  line-height:0.2rem;
  height: 0.8rem;
  opacity:0.6;
  text-align: left;
  padding-left: 0.1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;


}

/***************************************************/
.boxCententFoot{
  width: 100%;
  height: 0.25rem;
  position: absolute;
  bottom:0.17rem;
  left: 0;
  font-size: 0.16rem;
  color:rgba(255,255,255,1);
  text-align: center;
}
.boxCententFoot span:nth-child(1){
  display: inline-block;
  font-size:0.2rem;
  font-family:PingFangSC-Light;
  font-weight:900;
  transform: translateY(-0.05rem);
  color:rgba(255,255,255,1);
  line-height: 0.15rem;
  margin-right: 0.02rem;
}
.boxCententFoot span:nth-last-child(1){
  display: inline-block;
  font-size:0.2rem;
  font-family:PingFangSC-Light;
  font-weight:500;
  transform: translateY(0.05rem);
  color:rgba(255,255,255,1);
  opacity:0.5;
  line-height: 0.15rem;
  margin-left: 0.02rem;
}
/*---------------------------------*/
.homeBoxItem{
  width: 100%;
  /*min-height:6rem ;*/
  margin-top: 0.1rem;
  background: #ffffff;
  padding: 0.15rem;
  box-sizing: border-box;
}
.homeBoxItemImg{
  width: 100%;
  background: #FFFFFF;
}
.homeBoxItemImg img{
 width: 100%;
  display: inline-block;
}
.homeBoxItemOne{
  width: 100%;
  font-size:0.18rem;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(5,5,9,1);
  line-height:0.19rem;
  margin-top:0.15rem;
  padding-bottom: 0.15rem;
  border-bottom:0.01rem solid rgba(223,223,223,1);
}
.homeBoxItemThree{
  width: 100%;
  height: 0.5rem;
  border-bottom:0.01rem solid rgba(223,223,223,1);
  font-size:0.12rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  line-height:0.5rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  position: relative;
}
.homeBoxItemThree img{
  display: inline-block;
  width: 0.18rem;
  height: 0.18rem;
  /*transform: translateY(-0.14rem);*/
  margin-right: 0.11rem;
}


.homeBoxItemTwo,.homeBoxItemFour{
  width: 100%;
  height: 0.5rem;
  border-bottom:0.01rem solid rgba(223,223,223,1);
  font-size:0.12rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  line-height:0.5rem;
}
.homeBoxItemTwo img,.homeBoxItemFour img{
  display: inline-block;
  width: 0.18rem;
  height: 0.18rem;
  transform: translateY(0.02rem);
  margin-right: 0.11rem;
}
.homeBoxItemThree img{
  width: 0.16rem;
  height: 0.2rem;
}
.homeBoxItemThree  .a{
  width: 52px;
  padding-left: 10px;
  display: inline-block;
  position: absolute;
  right: 0;
  top:0;
  background: #FFFFFF;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
}
.homeBoxItemThree .a img{
  transform:translateY(0.05rem) ;
}
.homeBoxItemFour{
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
}
.homeBoxItemFive{
  width: 100%;
  margin-top: 0.19rem;
}
.homeBoxItemFive div{
  font-size:0.14rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  line-height: 0.19rem;
  width: 100%;
  position: relative;
}
.homeBoxItemFive div span:first-child{
  display: inline-block;
  width: 0.8rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  position: absolute;
  left: 0%;
  top:0;
}

.homeBoxItemFiveLeft{
  display: inline-block;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  margin-left: 0.8rem;
}

/******************************/
.homeBoxItem1{
  width: 100%;
  min-height: 1rem;
  margin-top: 0.1rem;
  background: #FFFFFF;
  padding: 0.26rem 0;
}
.activityArrangementItem{
  width: 96%;
  margin: 0 2%;
  text-align: center;
  font-size:0.17rem;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:#050509;
  line-height:0.21rem;
  position: relative;
}
.activityArrangementItem span:nth-child(1){
  display: inline-block;
  height: 0.14rem;
  width: 0.02rem;
  background: #050509;
  position: absolute;
  left: 33%;
  top: 0.03rem;
}
.activityArrangementItem span:nth-last-child(1){
  display: inline-block;
  height: 0.14rem;
  width: 0.02rem;
  background: #050509;
  position: absolute;
  right: 33%;
  top: 0.03rem;
}
.activityArrangementItem1{
  width: 94%;
  margin: 0 3%;
  min-height: 4.81rem;
  background: #FAFAFA;
  margin-top: 0.2rem;
  padding: 0.11rem;
  box-sizing: border-box;

}
.activityArrangementItemBox{
  display: flex;
}
.activityArrangementItem1Leftcenter{
  width: 100%;
  text-align: center;
  margin: 5px 0;
  color: #999999;
}
.activityArrangementItem1RightA{
  width: 100%;
  background: #DFDFDF;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}
.activityArrangementItem1RightB{
  width: 100%;
  background: rgba(5, 5, 9, 0.03);
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.activityArrangementItem1Left{
  width: 0.4rem;
  padding: 0.2rem 0.13rem 0 0;
  font-size:0.14rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  line-height:0.17rem;
  border-right: 0.01rem solid #DFDFDF;
  position: relative;
}
.activityArrangementItem1Left img{
  display: inline-block;
  width: 0.14rem;
  height: 0.14rem;
  position: absolute;
  right: -0.07rem;
  top: 0.2rem;
}
.activityArrangementItem1Right{
  flex: 1;
  padding: 0.2rem 0 0 0.13rem;

}
.activityArrangementItem1Right .value{
  font-size:0.15rem;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(5,5,9,1);
  line-height:0.2rem;
  margin-bottom: 0.16rem;
}
.activityArrangementItem1Right .name{
  font-size:0.14rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  line-height:0.2rem;
}
.activityArrangementItem1Right .founder{
  font-size:0.14rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:0.2rem;
  margin-bottom: 0.16rem;
}
.activityArrangementItem1Right .position{
  font-size:0.14rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:0.2rem;
}
.activityArrangementItem1Right .position img{
  display: inline-block;
  width: 0.11rem;
  height: 0.13rem;
  margin-right: 0.06rem;
}

/* ------------------------------ */
.mattersNeedingAttention{
  width: 94%;
  margin: 0 3%;
  font-size:0.12rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:0.16rem;
  border: 0.01rem solid #DFDFDF;
  border-radius:0.02rem;
  background: #FFFFFF;
  margin-top: 0.11rem;
  padding: 0.1rem;
  box-sizing: border-box;
}
.mattersNeedingAttention span{
  font-size:0.12rem;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(5,5,9,1);
  line-height:0.16rem;
}
/* ----------------------- */
.guestIntroductionItem{
  width: 94%;
  margin: 0 3%;
  margin-top: 0.26rem;
}
.guestIntroductionItem1{
  width: 100%;
  padding: 0.21rem 0.15rem;
  box-sizing:border-box;
  border: 0.01rem solid#050509;
  border-radius:0.02rem;
  margin-top: 0.15rem;
}
.guestIntroductionItem1Box{
  overflow: hidden;
  width: 100%;
  border-bottom: 0.01rem solid #EEEEEE;
  position: relative;
  margin-bottom: 0.1rem;
  padding-bottom: 0.1rem;

}
.guestIntroductionItem1Box .header{
  width: 100%;
  display: flex;
  height: 0.6rem;
}
.headerLeft{
  width: 0.6rem;
  height: 0.6rem;
}
.headerLeft img{
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}
.headerRight{
  flex: 1;
  height: 0.4rem;
  padding: 0.1rem;
}
.headerRightTop{
  width: 100%;
}
.headerRightTop span:nth-child(1){
  font-size:0.14rem;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(5,5,9,1);
  line-height:0.2rem;
}
.headerRightTop span:nth-child(2){
  font-size:0.14rem;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(153,153,153,1);
  line-height:0.2rem;
}
.headerRightBot{
  font-size:0.14rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:0.2rem;
}
.centent{
  width: 100%;
  margin: 0.17rem 0;

}

.cententActive{
  height: 0.6rem;
  position: relative;
  font-size:0.12rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  line-height: 0.2rem;
  color:rgba(5,5,9,1);
  outline: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

}

.centent div:nth-child(2){

  width: 100%;
  height: 0.01rem;
  margin-top: 0.3rem;
  background: #DFDFDF;
}
.more{
  font-size:0.12rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  line-height:0.2rem;
  position: absolute;
  right: 0;
  bottom: 0.05rem;
  color:rgba(24,139,246,1);
  text-decoration:underline;
}

.cententQiut{
  font-size:0.12rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  position: relative;
}
 .takeUp{
  font-size:0.12rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(24,139,246,1);
  margin-left: 0.14rem;
  text-decoration:underline;
  line-height:0.2rem;
  position: absolute;
  right: 0;
  bottom: 0.1rem;

}
/* -------------------- */
.Other{
  width: 100%;
  margin-top: 0.2rem;
}
.OtherBox{
  width: 94%;
  margin: 0 3%;
}
.OtherBoxItem1{
  width: 100%;
  height: 0.24rem;
  font-size:0.14rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  line-height:0.23rem;
  margin-top: 0.2rem;
}
.OtherBoxItem2{
  width: 100%;
  height:0.24rem;
  font-size:0.14rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  line-height:0.23rem;
  margin-bottom: 0.05rem;
  position: relative;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.OtherBoxItem3{
  width: 100%;margin-bottom: 0.2rem;
}
/*.OtherBoxItem3{*/
  /*width: 100%;*/
  /*height:0.24rem;*/
  /*font-size:0.14rem;*/
  /*font-family:PingFangSC-Regular;*/
  /*font-weight:400;*/
  /*color: #188BF6;*/
  /*line-height:0.23rem;*/
/*}*/

/*.OtherBoxItem3 img{*/
  /*display: inline-block;*/
  /*width: 0.14rem;*/
  /*height: 0.19rem;*/
/*}*/
/*.OtherBoxItem3 span{*/
  /*display: inline-block;*/
  /*margin-left: 0.1rem;*/
  /*transform: translateY(-0.03rem)*/
/*}*/
.OtherBoxItem4{
  height: 0.24rem;
  font-size:0.14rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  line-height:0.23rem;
}
.OtherBoxItem6{
  height: 0.24rem;
  font-size:0.14rem;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(5,5,9,1);
  line-height:0.23rem;
  margin-left: 0.7rem;
}
.OtherBoxItem7{
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0.1rem 0;
  min-height: 1.5rem;
}
.OtherBoxItem7 img{
  display: block;
  width: 100%;
  /*min-height: 1.5rem;*/
}
/* .mattersNeedingAttentionFoot{
  margin-bottom:10px;
} */
/* ---------------------------------- */
.amap-demo {
  height: 300px;
}
.homeBoxItemTen{
  width: 100%;
  background: #FFFFFF;
  padding-bottom:10px ;
}
.homeBoxItemTenContent{
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  word-break:break-all;
  white-space:pre-wrap;
}
.boxFoot{
  width: 100%;
  height: 0.49rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 0.01rem;
  background:#F7F7F7;
  opacity:0.95;
  box-shadow:0px -1px 0px 0px rgba(218,218,218,1);
  text-align: center;
  line-height: 0.49rem;
  background: #050509;
  color: #FFFFFF;
  z-index: 1;
}
